/* DocPage.css */

.doctor-page-container{
  margin: 0;
    padding: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(23,197,209, 0.5)),url('\img.jpg');
    background-size: cover;
}

.doctor-detail-container {
    
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .doctor-image-container {
    width: 100%;
    text-align: center;
    background-color: transparent;
    /* backdrop-filter: blur(10px); */
    flex: 1;
  }
  
  .doctor-detail-image {
    width: 50%;
    height: 500px;
    border-radius: 50%;
    /* background-color: #17c5d1; */
    
  }
  
  .doctor-info-container {
    margin-top: 20px;
    text-align: left;
    /* width: 100%; */
    /* background-color: #17c5d1; */
    flex: 1;
  }
  
  .doctor-detail-name {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .doctor-detail-specialty,
  .doctor-detail-fees,
  .doctor-detail-availability,
  .doctor-detail-hospital,
  .doctor-detail-qualifications,
  .doctor-detail-awards,
  .doctor-detail-description {
    margin-bottom: 10px;
    font-size: 1.1em;
    flex-grow: 1;
  }
  
  .doctor-detail-description {
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.5;
  }

  .doctor-appointment-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  